* {

    box-sizing: border-box;

}

.paragraph1 {
    top: 195px;
    left: 391px;
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    max-width: 538px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.img1 {
    width: 100%;
    height: 254px;
    z-index: 2;
}

.img2 {
    width: 100%;
    height: 254px;
    left: 371px;
}

.img3 {
    width: 100;
    height: 254px;
    left: 859px;
}

body {
    background-color: black;
    display: flex;
}
